<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>メモアプリ</title>
</head>
<body>
    <header>
        <h1>メモアプリ</h1>
    </header>
    <article>
        <%= yield %>
    </article>
    <footer>
        <%=
            # あとでやりたい
            # @button.each do |v|
            #     erb v
            # end
        %>
    </footer>
</body>
</html>
