<ul>
    <%# <li>aaa</li>
    <li>iii</li>
    <li>uuu</li> %>
    <% @titles.each do |v|
        p "v = #{v}"
    %><%=
        "<li><a href=\"/show/#{v[:file_name]}\">#{v[:title]}</a></li>"
    %><%
        end
    %>
</ul>
