<form action="/create" method="GET">
    <dir><input type="submit" value="追加"></dir>
</form>

<ul>
    <%# <li>aaa</li>
    <li>iii</li>
    <li>uuu</li> %>
    <%
        # p "top.erb"
        # p @titles # debug
        @titles.each do |v|
        # p "v = #{v}" # debug
    %><%=
        "<li><a href=\"/#{v["file_name"]}\"><label>#{h(v["title"])}</label></a></li>"
    %><%
        end
    %>

</ul>
